Lab3/a.exe
Lab3/.vscode/ipch/93c2694b67b2f73a/TEST.ipch
Lab3/.vscode/ipch/93c2694b67b2f73a/mmap_address.bin
Lab3/.vscode/ipch/461a38483a80be44/LAB3_RUN.ipch
Lab3/.vscode/ipch/461a38483a80be44/LAB3_RUN.ipch
Lab3/buffer/a.exe
Lab3/buffer/mkdir.c
Lab3/.vscode/settings.json
Lab3/.vscode/settings.json
Lab3/.vscode/settings.json
Lab3/.vscode/tasks.json
Lab3/buffer/IsFileExist.c
Lab3/a.exe
Lab3/.vscode/settings.json
Lab3/a.exe
Lab3/buffer/muldir.c
Lab3/buffer/sprt.exe
Lab3/buffer/sprt.c
Lab3/a.exe
*.exe
Lab3/IsFileExist.c
Lab3/mkdir.c
Lab3/muldir.c
Lab3/sprt.c
